export SPHINXBUILD="/usr/local/opt/sphinx-doc/bin/sphinx-build"
export PATH="$PATH:$HOME/.composer/vendor/bin"
export PATH="$PATH:$HOME/homebrew/bin"
export PATH="$PATH:/usr/local/share/python/"
export PATH="$PATH:/usr/local/go/bin/go"
export PATH="/usr/local/opt/mysql-client/bin:$PATH"
export PATH="$PATH:/Users/rkreusch/git/tools"
export PATH="$PATH:$HOME/.symfony/bin"
export PATH="/Users/rkreusch/Library/Python/2.7/lib/python/site-packages/:$PATH"
export TERM=xterm-256color
export GOPATH=$HOME/go
export PATH="$PATH:$GOPATH/bin"

export DOCKER_HOST=tcp://192.168.99.102:2376
export DOCKER_CERT_PATH=/Users/rkreusch/.docker/machine/machines/dinghy
export DOCKER_TLS_VERIFY=1
export DOCKER_MACHINE_NAME=dinghy
