export SPHINXBUILD="/usr/local/opt/sphinx-doc/bin/sphinx-build"
export PATH="$PATH:$HOME/.composer/vendor/bin"
export PATH="$PATH:$HOME/docker-projects/ide/"
export PATH="$PATH:$HOME/golang/bin"
export PSTORM_PREFERENCES_PATH=~/Library/Preferences/PhpStorm2019.1
export TERM=xterm-256color
export GOPATH=~/golang

source ~/.prv_exports
