function dps() {
    local container_name
    container_name=$(dp | fzf | awk '{print $1}')
    docker exec -e COLUMNS="`tput cols`" -e LINES="`tput lines`" -it "$container_name" sh
}

function dkc() {
    local container_name
    container_name=$(dp | fzf | awk '{print $1}')
    docker kill "$container_name"
}

#always ls after changing dir
function chpwd() {
    emulate -L zsh
    ls -alh
}

function fmake() {
    local subject
    subject=$(egrep '^[a-zA-Z\-]+:{1}' Makefile | cut -d ':' -f 1 | fzf)
    make "$subject"
}

function fcompup() {
    local package
    package=$(composer info -s | cut -d ' ' -f 1 | fzf)
    composer update "$package"
}

function fcompreq() {
    local package_full
    local package
    package_full=$(composer search $@ | fzf)
    package=$(echo $package_full | cut -d ' ' -f 1)
    echo "Installing $package package"
    composer require "$package"
}

function fh() {
      print -z $( ([ -n "$ZSH_NAME"  ] && fc -l 1 || history) | fzf +s --tac | sed 's/ *[0-9]* *//' )
      
}
