:set incsearch
:set hlsearch
:map <Space> :noh<cr>
:vnoremap y "*y"
:set relativenumber number
:set sneak

:let mapleader=","
:set easymotion
":nnoremap <D-;> <Plug>(easymotion-bd-f)
:map <M-;> <Plug>(easymotion-bd-f)

:set NERDTree
":nnoremap <D-l> :NERDTree<CR>
":nnoremap <M-l> :NERDTree<CR>

:set multiple-cursors